    <div class="p-grid p-dir-col">
        <div class="little p-col-fixed">
            <div class="p-grid p-dir-ver">
                <div class="p-col">
                    <app-lot-label></app-lot-label>
                </div>
                <div class="p-col stat">
                    <app-lot-stat></app-lot-stat>
                </div>
            </div>
        </div>
        <div class="p-col-fixed big">
            <app-lot-workflow></app-lot-workflow>
        </div>
    </div>
