<div class="p-grid p-dir-col" *ngIf="lot">
    <div class="p-col">
        <p-steps [model]="items" [readonly]="true" [activeIndex]="getActiveIndex(lot)"></p-steps>
    </div>
    <div class="p-col">
        <div class="p-grid">
            <div class="p-col">
                <h2 [ngClass]="{'selectedState': isState('classification')}">Classement</h2>
                <div class="p-grid p-dir-col" *ngIf="isState('classification')">
                    <div class="p-col p-col-align-center">
                        {{ nbClassifiedFiles / lot.nbFiles * 100 | number:'.2' }}% de dossiers classés
                    </div>
                    <div class="p-col p-col-align-center">
                        {{ lot.nbValidatedPages }} page validées sur {{ lot.nbPages }}
                    </div>
                    <div class="p-col p-col-align-stretch">
                        <button pButton (click)="printShelves()" label="Imprimer les étiquettes"></button>
                    </div>
                    <div class="p-col p-col-align-stretch" *ngIf='nbClassifiedFiles === 0'>
                        <button [disabled]="!lot.lastShelfExportedAt" pButton (click)="goToPages()" label="Commencer"></button>
                    </div>
                    <div class="p-col p-col-align-stretch" *ngIf='nbClassifiedFiles !== 0'>
                        <button [disabled]="!lot.lastShelfExportedAt" pButton (click)="goToPages()" label="Continuer"></button>
                    </div>
                </div>
            </div>
            <div class="p-col ">
                <h2 [ngClass]="{'selectedState': isState('box_packing')}">Mise en carton</h2>
                <div class="p-grid p-dir-col">
                    <div *ngIf="isState('classification')" class="p-col p-col-align-center">
                        {{ lot.nbFiles - nbClassifiedFiles }} dossiers à classer
                    </div>
                    <div *ngIf="isState('classification')" class="p-col p-col-align-center">
                        avant la mise en carton
                    </div>
                    <div *ngIf="isState('box_packing') && nbPensionFiles" class="p-col p-col-align-center">
                        {{ lot.nbFilesInBoxes / nbPensionFiles * 100 | number:'1.0-2' }} % de dossiers mis en carton
                    </div>
                    <div *ngIf="isState('box_packing')" class="p-col p-col-align-center">
                        {{ lot.nbBoxes }} cartons ajoutés
                    </div>
                    <div *ngIf="(can('box_packing') || isState('box_packing') ) && nbPensionFiles && nbPensionFiles !== lot.nbFilesInBoxes"
                        class="p-col p-col-align-stretch">
                        <p-button routerLink="./boxes/create" label="Ajouter"></p-button>
                    </div>
                    <div *ngIf="0 !== lot.nbFilesInBoxes" class="p-col p-col-align-stretch">
                        <p-button (click)="goToBoxes()" label="Consulter"></p-button>
                    </div>
                    <div *ngIf="0 !== lot.nbFilesInBoxes" class="p-col p-col-align-stretch">
                        <p-button class="secondary-color" (click)="goToEditBoxes()"
                            label="Modifier et annuler les suivants"></p-button>
                    </div>
                </div>
            </div>
            <div class="p-col">
                <h2 [ngClass]="{'selectedState': isState('summary')}">Synthèse et export</h2>
            </div>
            <div class="p-col">
                <h2 [ngClass]="{'selectedState': isState('destroy')}">Destruction informatique</h2>
            </div>
        </div>
    </div>
</div>