@import "variables.scss";

:host {

    ::ng-deep {

        .p-grid > .p-col, .p-grid > [class*="p-col"]{
            margin-left: 2%;
            margin-right: 2%;
        }

        .ui-steps::before{
            border-top: 1px solid $stepper-inactiv-background-color;
            border-bottom: 1px solid $stepper-inactiv-background-color;

        }

        .ui-steps .ui-steps-item {
            width: 25%;
            .ui-menuitem-link .ui-steps-title{
                font-size: $main-font-size;
                color: $text-color;
            }
    
            .ui-menuitem-link .ui-steps-number {
                width: 100px;
                border-width: 0px;
                height: 100px;
                font-size: $stepper-font-size;
                font-weight: bold;
                padding-top: 35px;
                line-height: $stepper-font-size;
                background: $primary-button-color;
                color: $button-text-color;
            }
    
            &.ui-state-disabled {
                opacity: 1;
                filter: alpha(opacity=100);
    
                .ui-menuitem-link .ui-steps-number{
                    background: $stepper-inactiv-background-color;
                }
            }
    
            &.ui-state-complete{
                .ui-menuitem-link .ui-steps-number{
                    background: $button-hover-color;
                }
            }
        }
    }

    p-button,::ng-deep .ui-button{
        width: 100%;
    }

    h2 {
        text-align: center;
        margin-top: 0;

        &.selectedState{
            color: $primary-button-color;
        }
    }
}