<div class="ui-inputgroup">
    <button [disabled]="previousDisabled" pButton type="button" label="Précedente" (click)="previous()"></button>
    <span class="ui-inputgroup-addon">{{ label }}</span>
    <input type="text" pInputText placeholder="{{ placeholder }}" [(ngModel)]="input"
        (keydown)="keyDownFunction($event)">
        <span class="ui-inputgroup-addon">sur {{ total }}</span>

    <button [disabled]="nextDisabled" pButton type="button" label="Suivante" (click)="next()"></button>
</div>