<h1>Accueil</h1>

<div class="p-grid p-justify-between">
    <div class="p-col">
        <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="N° de lot" [(ngModel)]="lotNumber">
            <button pButton type="button" label="Accéder" (click)="detailsLot()"></button>
        </div>
    </div>
    <div class="p-col float-right">
        <button pButton type="button" label="Créer un lot" routerLink="../create"></button>
        <button pButton type="button" class="ui-button-secondary" disabled label="Rechercher un Dossier"></button>
    </div>
</div>


<p-table [value]="lots" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" selectionMode="single" [paginator]="true"
    [rows]="20" [totalRecords]="totalRecords" [loading]="loading" (onRowSelect)="selectLot($event)" >
    <ng-template pTemplate="header">
        <tr>
            <th class="number">#</th>
            <th class="title">Libellé</th>
            <th class="state">Etat</th>
            <th class="nbFiles">Nombre de dossiers</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lot>
        <tr [pSelectableRow]="lot">
            <td class="center">{{lot.number}}</td>
            <td>{{lot.title}}</td>
            <td class="center">{{lot.state | state}}</td>
            <td class="center">{{lot.nbFiles}}</td>
        </tr>
    </ng-template>
</p-table>