.float-right > *{
    float: right;
}

body .ui-table .ui-table-thead > tr > th:first-child {
    border-left: none;
}

:host{
    .number{
        width: 5%;
    }
    .title{
        width: 60%;
    }
    .nbFiles{
        width: 25%;
    }
    .state{
        width: 10%;
    }
}