@import "variables.scss";

nav{
    a{
        border-left: 1px solid black;
        padding-left: 10px;
        padding-right: 10px;
        color: black;
        font-size: $menu-font-size;
    }
    a:first-child{
        border-left: 1px none black;
        padding-left: 0px;
    }
}