//main color scheme
$primaryColor:#2B7AB7;
$primaryDarkColor:#116fbf;
$primaryDarkerColor:#005b9f;
$primaryTextColor:#ffffff;

//Global
$fontFamily:"Open Sans","Helvetica Neue",sans-serif;
$fontSize:17px;