<h1>Créer un Lot</h1>
<form [formGroup]="lotForm" (ngSubmit)="onSubmit()">
    <div class="p-grid p-dir-col">
        <div class="p-col">
            <p-checkbox binary="true" formControlName="withNir" value="true" label="avec NIR"></p-checkbox>
        </div>
        <div class="p-col">
            <p-checkbox binary="true" formControlName="withAffiliation" label="avec Affiliation"></p-checkbox>
        </div>
        <div class="p-col">
            naissances entre
            <p-calendar formControlName="dobFrom" dateFormat="dd/mm/yy" placeholder="dd/mm/aaaa"></p-calendar>
            et
            <p-calendar formControlName="dobTo" dateFormat="dd/mm/yy" placeholder="dd/mm/aaaa"></p-calendar>
        </div>
        <div class="p-col">
            {{ nbFiles }} Dossiers trouvés
        </div>
        <div class="p-col">
            Lot n° <input type="number" formControlName="number" pInputText placeholder="XX" />
            <p-button class="create" label="Créer" type="submit" [disabled]="isGettingFileNumber()" styleClass="ui-button-rounded"></p-button>
        </div>
    </div>
</form>