
@import "~sass-rem";

$rem-baseline: 17px;
$main-font: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
$main-font-size: rem(17px);

$text-color: #5D5D5D;

$primary-button-color: #2B7AB7;
$button-text-color: #FFFFFF;
$button-hover-color: #96D0D0;

$secondary-button-color: #B6A5CC;
$third-button-color: #9B89B2;

$category-A: #E0D1A9;
$category-NT: #9BD6A6;
$category-C: #FDABD1;
$category-D: #94B7E0;
$category-P: #9B89B2;

$menu-font-size: rem(20px);
$button-font-size: rem(25px);
$h1-font-size: rem(55px);
$h2-font-size: rem(32px);
$stepper-font-size: rem(36px);
$table-header-font-size: rem(25px);
$stepper-inactiv-background-color: #DBDBDB;