<app-header>

</app-header>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="Non" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Oui" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
<p-messages [(value)]="msgs"></p-messages>
<router-outlet>

</router-outlet>