@import "style/variables.scss";

body {
    margin-left: 10.70%;
    margin-right: 10.70%;
    font-family: $main-font;
    font-size: $main-font-size;
    color: $text-color;

    .ui-messages{
        ul{
            display: block;
        }
        .ui-messages-icon{
            display: none;
        }
    }

    

    .ui-widget {
        font-size: $main-font-size;
        font-family: $main-font;

        &.ui-inputtext {
            padding: 0.91rem;
        }
    }

    .ui-inputgroup .ui-button:first-child {
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;    
    }

    .ui-inputgroup .ui-button:last-child {
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;    
    }

    .ui-button {
        background-color: $primary-button-color;
        border-color: $primary-button-color;

        .ui-button-text {
            font-size: $button-font-size;
            font-weight: bold;
        }

        &:enabled:hover {
            background-color: $button-hover-color;
            border-color: $button-hover-color;
        }
    }

    .secondary-color .ui-button {
        background-color: $secondary-button-color;
        border-color: $secondary-button-color;
    }

    .ui-button {
        border-radius: $main-font-size;
    }

    .ui-inputgroup .ui-inputgroup-addon{
        display: flex;
        align-items: center;
        min-width: 3em;
        justify-content: center;
    }

    .ui-table table{
        margin-top: 15px;
        .ui-table-tbody td, .ui-table-thead th{
            border-left-width: 0;
            border-right-width: 0;
        }
        .center{
            text-align: center;
        }
    }

    .margin-left{
        margin-left: 10px;
    }
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

@media only screen and (max-width: 1280px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
  }