<form [formGroup]="autoCompleteControl">

    <div class="p-grid">
        <div class="p-col-1 p-col-align-center">
            <b>Dernier agent</b>
        </div>
        <div class="p-col">
            Nom
            <p-autoComplete class="margin-left" [dropdown]="true" formControlName="commonName" [suggestions]="commonNames"
                (completeMethod)="search()" (onSelect)="select()"></p-autoComplete>
        </div>
        <div class="p-col">
            Prénom
            <p-autoComplete class="margin-left" [dropdown]="true" formControlName="firstname" (onSelect)="select()"
                [suggestions]="firstnames" (completeMethod)="search()">
            </p-autoComplete>
        </div>
        <div class="p-col">
            Date de <br>naissance
            <p-autoComplete class="margin-left" [dropdown]="true" formControlName="dob" (onSelect)="select()" [suggestions]="dobs"
                (completeMethod)="search()">
            </p-autoComplete>
        </div>
    </div>
</form>