<a routerLink=".."><i class="pi pi-angle-left"></i>Revenir au detail</a>

<div class="p-grid">
    <div class="p-col">
        <h1>Classement du lot n° {{ lot.number }}</h1>
        <p *ngIf="lot.lastValidatedPage">Dernière page validée: n° {{ lot.lastValidatedPage.number }} le {{ lot.lastValidatedPage.validatedAt | amDateFormat:'DD/MM/YYYY' }}</p>
    </div>
    <div class="p-col-fixed p-col-align-end">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">Pages</span>
            <input disabled type="text" pInputText placeholder="XX">
            <span class="ui-inputgroup-addon">à</span>
            <input disabled type="text" pInputText placeholder="XX">
            <button disabled pButton type="button" label="Imprimer"></button>
        </div>
    </div>
</div>
<router-outlet>
    
</router-outlet>