<form [formGroup]="boxForm">
    <div class="p-grid">
        <div class="p-col-1 p-col-align-center">
            <b>{{ label }}</b>
        </div>
        <div class="p-col">
            Nom
            <input class="margin-left" readonly [value]="target.value?.commonName" type="text" pInputText />
        </div>
        <div class="p-col">
            Prénom
            <input class="margin-left" readonly [value]="target.value?.firstname" type="text" pInputText />
        </div>
        <div class="p-col">
            Date de <br>naissance
            <input class="margin-left" readonly [value]="target.value?.dob | amDateFormat:'DD/MM/YYYY'" type="text" pInputText />
        </div>
    </div>
</form>