<div class="p-grid p-align-baseline">
    <div class="p-col ">
        <h2>Carton n° {{ box.number }}</h2>
    </div>
    <div class="p-col">
        <app-paginate *ngIf="mod !== 'create'" [previousDisabled]="box.number==1"
            [nextDisabled]="box.number==lot.nbBoxes" [total]="lot.nbBoxes" [label]="'Carton'" [placeholder]="box.number"
            (onClickNext)="next()" (onClickPrevious)="previous()" (onEnter)="navigate($event)"></app-paginate>
    </div>
</div>

<div *ngIf="boxForm" class="p-grid p-dir-col">
    <div class="p-col">
        <app-info-agent [targetControlName]="'firstFile'" [label]="'Premier agent'" [boxForm]="boxForm">
        </app-info-agent>
    </div>
    <div class="p-col">
        <app-info-agent *ngIf="mod === 'details'" [targetControlName]="'lastFile'" [label]="'Dernier agent'"
            [boxForm]="boxForm">
        </app-info-agent>
        <app-auto-complete-agent *ngIf="mod !== 'details'" [mod]="mod" [box]="box" [lot]="lot" (onSelect)="select($event)">
        </app-auto-complete-agent>
    </div>
    <div class="p-col">
        <div class="p-grid p-justify-end">
            <div class="p-col-2 p-col-align-center">
                <b *ngIf="box.nbFiles">{{ box.nbFiles }} agents dans ce carton</b>
            </div>
            <div class="p-col-2">
                <p-button disabled='disabled' label="Imprimer la fiche"></p-button>
            </div>
            <div class="p-col-2">
                <p-button *ngIf="mod === 'edit'" [disabled]="!boxForm.valid" (click)="update()" label="Modifier le carton et annuler les suivants"></p-button>
                <p-button *ngIf="mod === 'create'" [disabled]="!boxForm.valid" (click)="create()" label="Créer le carton"></p-button>
            </div>
        </div>
    </div>
</div>