@import "variables.scss";

:host {
    .footer{
        margin-top: 0.2rem;
    }
    th {
        &.category {
            width: 5%;
            font-size: $table-header-font-size;
            &.A {
                background-color: $category-A;
            }

            &.C {
                background-color: $category-C;
            }

            &.NT {
                background-color: $category-NT;
            }

            &.P {
                background-color: $category-P;
            }

            &.D {
                background-color: $category-D;
            }

        }
    }

    td.category{
        text-align: center;
    }

    ::ng-deep {
        .category-C .ui-radiobutton .ui-radiobutton-box {
            border-color: $category-C;

            &.ui-state-active {
                background-color: $category-C;
            }
        }

        .ui-radiobutton .ui-radiobutton-box {
            border-width: 2px;

            &.ui-state-active .ui-radiobutton-icon {
                background: none;
            }
        }


        .category-D .ui-radiobutton .ui-radiobutton-box {
            border-color: $category-D;

            &.ui-state-active {
                background-color: $category-D;
            }
        }

        .category-NT .ui-radiobutton .ui-radiobutton-box {
            border-color: $category-NT;

            &.ui-state-active {
                background-color: $category-NT;
            }
        }

        .category-A .ui-radiobutton .ui-radiobutton-box {
            border-color: $category-A;

            &.ui-state-active {
                background-color: $category-A;
            }
        }

        .category-P .ui-radiobutton .ui-radiobutton-box {
            border-color: $category-P;

            &.ui-state-active {
                background-color: $category-P;
            }
        }
    }
}