<div class="p-grid" *ngIf="lot">
    <div class="p-col p-col-align-end">
        <button pButton label="Tout cocher en P" (click)="checkAll('P')"></button>
    </div>
    <div class="p-col">
        <p *ngIf="page.validatedAt">Validée le {{ page.validatedAt | amDateFormat:'DD/MM/YYYY' }}</p>
    </div>
    <div class="p-col p-col-align-end">
        <app-paginate
            [previousDisabled]="page.number==1"
            [nextDisabled]="page.number==lot.nbPages"
            [total]="lot.nbPages"
            [label]="'Page'"
            [placeholder]="page.number"
            (onClickNext)="next()"
            (onClickPrevious)="previous()"
            (onEnter)="navigate($event)"
        ></app-paginate>
    </div>
</div>
<form *ngIf="pageForm" [formGroup]="pageForm" (ngSubmit)="submit()">
    <p-table *ngIf="page" [value]="pageForm.controls" [rowTrackBy]="trackByFn">
        <ng-template pTemplate="header">
            <tr>
                <th class="category C">C</th>
                <th class="category D">D</th>
                <th class="category NT">NT</th>
                <th class="category P">P</th>
                <th class="category A">A</th>
                <th class="small">N° de dossier</th>
                <th class="small">Etagère</th>
                <th>Nom de famille</th>
                <th>Nom d'usage</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-i="rowIndex">
            <tr [formGroupName]='i'>
                <td  class="category">
                    <p-radioButton class="category-C" name="category_{{i}}" formControlName="category" value="C">
                    </p-radioButton>
                </td >
                <td class="category">
                    <p-radioButton class="category-D" name="category_{{i}}" formControlName="category" value="D">
                    </p-radioButton>
                </td>
                <td class="category">
                    <p-radioButton class="category-NT" name="category_{{i}}" formControlName="category" value="NT">
                    </p-radioButton>
                </td>
                <td class="category">
                    <p-radioButton class="category-P" name="category_{{i}}" formControlName="category" value="P">
                    </p-radioButton>
                </td>
                <td class="category">
                    <p-radioButton class="category-A" name="category_{{i}}" formControlName="category" value="A">
                    </p-radioButton>
                </td>
                <td class="center">{{getFile(i).number | number:'3.0-2' }}</td>
                <td class="center">{{getFile(i).shelf | number:'3.0-2' }}</td>
                <td>{{getFile(i).lastname}}</td>
                <td>{{getFile(i).commonName}}</td>
                <td>{{getFile(i).firstname}}</td>
                <td class="center">{{getFile(i).dob | amDateFormat:'DD/MM/YYYY' }}</td>
            </tr>
        </ng-template>
    </p-table>

    <div class="p-grid footer p-justify-center">
        <div class="p-col-2">
            <button type="submit" [disabled]="!pageForm.valid" pButton label="Valider la page"></button>
        </div>
    </div>
</form>